.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .med-eth-title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
  }
  
  .login-button {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
  }
  
  .login-button:hover {
    background-color: darkgreen;
  }
  
  .account-text {
    color: white;
  }
  